.SearchBox {
   position: fixed;
   z-index: 1;
   background: #fff;
   width: 336px;
   border-radius: 16px;
   padding: 16px;
   top: 24px;
   left: 16px;

   .input-group {
      display: flex;
      flex-direction: column;
      color: #212121;
      margin-bottom: 16px;

      .label {
         font-size: 12px;
         font-weight: 700;
         line-height: 16px;
         margin-bottom: 4px;
         vertical-align: middle;
      }

      input {
         height: 44px;
         border: none;
         outline: none;
         padding: 12px;
         background: #f4f4f4;
         border-radius: 8px;

         &:focus {
            font-size: 14px;
            font-weight: 400;
            outline: 1px solid #ccc;
         }
      }
   }

   .button {
      display: flex;
      gap: 16px;

      .btn {
         flex: 1;
         border-radius: 8px;
         border: none;
         font-size: 16px;
         font-weight: 500;
         line-height: 44px;
         vertical-align: middle;
         cursor: pointer;

         &:hover {
            opacity: 0.8;
         }
      }

      .clear-btn {
         background: #fff;
         color: #1a73e8;
         border: 2px solid #1a73e8;
      }

      .geocode-btn {
         color: #fff;
         background: #1a73e8;
      }
   }
}
